// reset css
@import "variable";
html {
  box-sizing: border-box;
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
form,
section{
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}
a {
  cursor: pointer;
}

html{
  height: 100%;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}





h1, h2, label, p, li{
  color: var(--title-font-color);
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}
/* 使用@each 產出css size設定 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: (
    $spacer * 1
  ),
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

@each $prop, $abbrev in (margin:m, padding:p){
  @each $number, $val in $spacers {
    .#{$abbrev}-#{$number} {
       #{$prop}: $val;
    }
    .#{$abbrev}t-#{$number} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}l-#{$number} {
      #{$prop}-left: $val;
    } 
    .#{$abbrev}b-#{$number} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}r-#{$number} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$number} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}x-#{$number} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
  }
}

@mixin stepperNum($num){
  @for $i from 1 through $num {
     &:nth-child(#{$i}) .circle::after {
      content:"#{$i}";
      display:block;
      transform: translateY(50%);
    }    
  }
}

%input-style {
  width: 100%;
  height: 50px;
  border: 1px solid var(--form-border);
  border-radius: 5px;
  font-size: 16px;
  padding: 0.8rem; 
  background: transparent;
  &:hover, &:focus{
    border-width: 3px;
  }
}
%label-style {
  display:block;
  padding-bottom: 8px;
  font-size: 12px;
  color: $label-font-color;
}
%button-style {
  font-size: 14px;
  font-weight: 500;
  flex-basis:100%;
  height: 46px;
  border-radius: 5px;
  cursor: pointer;   
}


// css setting star here
body {
  background-color: var(--main-background-color);
}
.main-container{
  margin: 0 auto;
  max-width: 1400px;
  padding: 30px;
}
header {
  margin: 0 auto;
  max-width: 1400px;
  height: 60px;
}
.nav{
  width: 100%;
  position: relative;
  .nav-wrapper{
    display: flex;
    a {
      color:var(--title-font-color);
      cursor: pointer;
    }
    .hamburger-box {
      flex-basis: 20px;
      label {
        cursor: pointer;
      }
    }
    .tool-group{
      img {
        margin-left: 20px;
      }
    }
    .toggle-mode{
      content: var(--mode-logo);
      }
    .search-icon {
      content: var(--search-icon);
      }
    .cart-icon {
      content: var(--cart-icon);  
      }  
  }
    // hamburger checked
  input[type="checkbox"] {
    display: none; 
    &:checked ~ .nav-toggle-list {
      transform: scale(1,1);
      li, .tool-group {
        opacity: 1;
        transition: opacity .3s ease-out .2s;
      }
    } 
  }   
  .nav-toggle-list {
    position: absolute;
    width:100%;
    top:100%;    
    z-index: 99;
    background-color: var(--main-background-color);     
    height: 100vh;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform .3s ease-out ;
    li, .tool-group{
      opacity: 0;
    }
    li {
      text-align: center;
      line-height: 72px;
      border-bottom: 1px solid $pale-gray;    
    }
      
    .toggle-list-tool-container{
      padding-top: 30px;
      .tool-group {
        display: flex;
        justify-content: center;
      }
    }
  }   
    .brand-container{
      width:100px;
      height: 20px;
      flex:1;
      padding-left: 25%;
      .brand-img{
        margin: 0 auto;
        width:300px;
        height: 30px;
        .logo {
          content: var(--logo);
        }
      }
     
    }
    .nav-tool-container {
      display: none;       
    }
    .nav-toggle-list-screen-v{
      display: none;
    }
   
  
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  // flex-flow: column;
  padding-top: 32px;
}
main {
  margin-top: 72px; 
  h1{
  font-size: 32px;
}
}

.checkout-process, .stepper-wrapper, .form-wrapper {
  width: 100%;
}
// checkout stepper
.stepper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px,1fr)); 
  margin-top: 1.5rem;
  padding-top: 10px;
  line-height: 100%;
  position: relative;
  .step-item{   
    display: flex;
    align-items: center;
    position: relative;
    @include stepperNum(3);
    color:  $label-font-color; 
    &:nth-child(3) {
      justify-content: flex-end;
    } 
    &:nth-child(2) {
      justify-content: center;
    }
    &.step-active {
      > .circle{
        background-color: $dark-dark-gray;
        color: $pale-gray;
      }
      > p {
        color: var(--title-font-color);
      }     
    } 
    &.checked {
      > .circle::after {
        content:"\2714";
        color:$pale-gray;
      }
    } 
  }
 .circle {  
   width: 32px;
   height: 32px;
   border: 1px solid $label-font-color;
   border-radius: 23px;
   text-align: center;
 }
 .step-title {
   display: none;
   padding: 5px;
   color: $label-font-color;
 }
 .step-line {
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: var(--title-font-color);
  &.first {
    left: -50%;
  }
  &.second {
    left: -15%;
  }    
 }

}
// form style
.form-wrapper{ 
  .checkout-process{
    flex:1;
  }  
  .form-row {
    margin-top: 1.1rem;
  }
  .select-wrapper{
    position: relative;
    select{
      cursor: pointer;   
      -webkit-appearance: none; 
      background-color: transparent;
      overflow-x: hidden; 
      color: var(--title-font-color);
    }
     &::after {
      content: "";
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $light-gray transparent;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-25%);
      z-index: -1;     
    }               
  } 
  .form-address {  
    margin-top: 50px;
    input, select{
      @extend %input-style;
    }
    label{
      @extend %label-style;
    }
    select:invalid {
      color: $label-font-color;
    }
    .form-row {
      width: 100%;   
      &.name-box {
        display: grid;
        grid-template-columns: 40% 55%;
        grid-gap: 5%;       
      }
    }
  }
  // form-delivery
  .form-delivery {
    margin-top: 60px;
    .label-wrapper{
      display: flex;
      flex-flow: column;
    }   
    .form-row {
      border: 1px solid $label-font-color;
      border-radius: 5px;
      max-width: 465px;
      height: 60px;
      align-items: center;
      
     //input radio樣式
      input[type = "radio"]{
        margin: 20px;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border:  1px solid var(--radio-border);
        border-radius: 50%; 
        background-color: var(--input-radio);
        cursor: pointer;       
        &:checked {          
          border: 6px solid var(--radio-border);
          background-color:white;
        }
      } 
      .label-wrapper{
        flex: 1;
        label{
          cursor: pointer;
          &:nth-child(2){
            font-size: 12px;
            color:$light-gray;
          }
        }
      }
      .fee, .input-wrapper{
        flex-basis: 50px;
      }
      &:hover {
        border-color: var(--title-font-color);
        border-width: 2px;
      }
      // dhl粗體
      &:nth-child(3){
        .label-wrapper{
          label:nth-child(1){
            font-weight: 700;
          }
        }
      }
    }
  }
  // form-payment
  .form-payment {
    margin-top: 60px;
    input {
      @extend %input-style;
    }
    label {
      @extend %label-style;
    }
    .card-owner, .number{
      max-width: 350px;
    }
    .card-detail-box{
      justify-content: space-between;    
      .form-item {
        flex-basis: 45%;
        &:nth-child(1) > input{
          -webkit-appearance: none;
          &:invalid {
            color: $light-gray;
          }
        }
      }      
    }
  }
}
// button style
.btn-wrapper{
  position:relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $pale-gray;
  height: 100px;
  margin-top: 2rem;
  padding-top: 24px;
  button{
    @extend %button-style;
    &.pre-btn {
      text-align: left;
      color: var(--title-font-color);
    }
    i {
      font-size: 20px;
      transform: translateY(10%);     
    }
  }  
  
}
.active-btn {
  background-color: $step-btn-color;
  color:white;
}
// cart style
.cart {
  border: 1px solid var(--cart-border);
  border-radius: 5px;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--cart-background-color);
  width: 100%;
  span {
    color: var(--title-font-color);
  }
  h1 {
    display: none;
    line-height: 88px;
    font-size: 18px;
  }
  .cart-wrapper {
    height: 100%;   
  }
  .cart-item{
    display: grid;
    grid-template-columns: 100px 1fr;  
    margin-bottom: 34px;
    .product-img{
      width: 100px;
      height: 100px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .product-detail {
    display: flex;   
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    text-align: end; 
    .form-group{
      width: 100%;
    }
    .price {
      font-weight: 600;
    }   
  }
  // quantity input form
  .input-container {
    justify-content: flex-end;
    > .input-quantity-control{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $quantity-btn;
      text-align: center;
      cursor: pointer;
      &:hover {
        box-shadow: 1px 1px 2px gray inset;
      }
    }
     input[type = "number"] {
      appearance: none;
      width: 53px;
      border: none;
      text-align: center;
      background: transparent;
      color: var(--title-font-color)
    }  
  }
  .shipping, .total-container {
    border-top: 1px solid $pale-gray;
    height: 70px;
    padding-top: 16px;
  }
  .shipping {
    p:nth-child(2){
      font-weight: 600;
    }
  }
}
// footer
footer {
  display:none;
  background-color: var(--footer-background);
  .footer-container{
    margin-top: 120px; 
    .logo-img {
      content: var(--logo);
    }
    .items-wrapper{
      max-width: 1400px;
      margin: 0 auto;
      padding: 64px 30px 80px 30px; 
      height: 100%;
      display: flex;
      justify-content: space-between;
      .footer-item {
        .link-group  {
          margin-top: 1rem;
          > a, p {
            padding-top: 2px;
            color: var(--footer-font-color);            
          }
          &.social-media a {
             display: inline-block;
             margin-left: 10px;
          }          
        }      
        &:nth-child(1) {
          > img{
            padding-top: 35%;
          }                    
        }     
      }
    }

  }  
}

// media query
@media screen and (min-width: 376px) {
  // navbar style
  .nav {
    .nav-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .nav-toggle-list {
        display: none;
      }
      .nav-tool-container{
        display: block;
      }
      .hamburger-box {
        display: none;
      }
      .nav-toggle-list-screen-v {
        display: block;
        grid-column: 1/5;
        
        .list-container {
          justify-content: space-between;
          .list-item {
            padding: 2px;
          }
        }
      }
      .brand-container{
        grid-column: 5/11;
        img:nth-child(2) {
          width: 130px;
          height: 18px;
        }  
      }
      .nav-tool-container{
        grid-column: 11/13;
        display: flex;
        justify-content: flex-end;
        i {
          margin:10px;
        }
      }
    
    }

  }
  
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 480px 100px;
    .checkout-process{
      max-height: 440px;
      grid-column: 1/7; 
    }
    // cart style
    .cart {
      grid-column: 8/13;
      grid-row: 1/3;    
      h1{
        display: block;
      }
      .cart-item {
        margin-bottom: 34px;
      }
      .product-detail{
        flex-flow: row;
        align-items: flex-start;
        text-align: start;
        flex:1 1;
        .input-container {
          justify-content: flex-start;
        }
      }
    } 
  }
  // stepper style
  .stepper-wrapper {
    .step-title {
    display: block;
    line-height: 100%;
   } 
   .step-line {
     &.first {
    left: -30%;
    }
    &.second {
    left: -5%;
    }
   }
  }
  // form address
  .form-wrapper {
    #step-address {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0.5rem 1rem;
      h2 {
        grid-column: 1/7;
      }
      .form-row {
        &.name-box {
          grid-column: 1/7;
        }
        &.phone {
          grid-column: 1/4;
        }
        &.email {
          grid-column: 4/7;
        }
        &.city {
          grid-column: 1/3;
        }
        &.address-box {
          grid-column: 3/7;

        }
      }
    }
    
  }

// button style 
  .btn-wrapper { 
    grid-column: 1/7;
    button{
      flex-basis: 35%;
    }   
    .first-step-btn{
      position: absolute;
      right: 0;
      left: 60%;
    }  
  }
  footer {
    display: block;
  }

}
